[Unit]
Description=Changes background

[Service]
Type=oneshot
ExecStart=/bin/bash $HOME/.local/share/systemd/user/background.sh

[Install]
WantedBy=default.target
